* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 1rem 'Roboto', sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

main, section {
  height: 75vh;
  text-align: center;
  /*overflow: hidden;*/
  border: 1px solid black;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-inline: auto;
  padding-inline: 2rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu ul a {
  color: #061800;
  text-decoration: none;
  font-weight: 500;
}

.menu ul li {
  font-size: 1.1rem;
}

.menu ul li + li {
  margin-left: 1rem;
}

.text-initial h1 {
  font-size: 2.1rem;
  color: #061800;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

.text-initial h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #061800;
  margin-bottom: 2.4rem;
  line-height: 150%;
}

.text-initial p {
  font-size: 1.2rem;
  line-height: 150%;
  color: #15181a;
  word-break: keep-all;
  margin-bottom: 3.2rem;
}

#container-initial .text-initial .html {
  color: #e44d26;
}

#container-initial .text-initial .css {
  color: #264DE4;
}

#container-initial .text-initial .javascript {
  color: #E4A126;
}

#container-initial img {
  margin-left: 0.5rem;
}

#container-html h1 {
  letter-spacing: 0.3rem;
}

#container-html img {
  margin-left: 2rem;
}

@media (min-width: 0) {
  .wrapper {
    width: 50rem;
  }
  .flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  #logo {
    width: 80px;
    height: 80px;
  }
  .wrapper {
    width: 50rem;
  }
  .flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 800px) {
  #logo {
    width: 90px;
    height: 90px;
  }
  .wrapper {
    width: 70rem;
  }
  .flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  #logo {
    width: 100px;
    height: 100px;
  }
  .wrapper {
    width: 90rem;
  }
  .flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=global.css.map */