/*----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 1rem 'Roboto', sans-serif;
}

body img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

main, section {
  height: 75vh;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-inline: auto;
  padding-inline: 2rem;
}

/*----------------------------------------------------------------*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.menu ul {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu ul a {
  color: #061800;
  text-decoration: none;
  font-weight: 500;
}

.menu ul li {
  font-size: 1.1rem;
}

.menu ul li + li {
  margin-left: 1rem;
}

/*----------------------------------------------------------------*/
.text-initial {
  /* https://www.visualdicas.com.br/programacao/css/27-como-alinhar-listas-html-utilizando-flexbox */
}

.text-initial h1 {
  color: #061800;
  line-height: 130%;
  margin-top: 0.8rem;
}

.text-initial h3 {
  font-weight: 500;
  color: #061800;
  line-height: 150%;
}

.text-initial p {
  line-height: 150%;
  color: #15181a;
  white-space: unset;
  margin-bottom: 3.2rem;
}

.text-initial a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 600;
  text-decoration: none;
  color: #061800;
  position: relative;
  cursor: pointer;
}

.text-initial a::after {
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  bottom: 0;
}

.text-initial .list-text-initial {
  display: -ms-grid;
  display: grid;
}

.text-initial .list-text-initial ul {
  list-style: none;
  /*list-style-position: inside;*/
}

.text-initial .list-text-initial ul h3 {
  margin-bottom: 1rem;
}

/*----------------------------------------------------------------*/
#container-initial .text-initial .html {
  color: #e44d26;
}

#container-initial .text-initial .css {
  color: #264DE4;
}

#container-initial .text-initial .javascript {
  color: #E4A126;
}

#container-initial img {
  margin-left: 0.5rem;
}

/*----------------------------------------------------------------*/
#container-html::before {
  content: "";
  width: 100vw;
  height: 75vh;
  background-color: #FFE3E3;
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
}

#container-html .text-initial a::after {
  background-color: #e44d26;
}

/*----------------------------------------------------------------*/
#container-css::before {
  content: "";
  width: 100vw;
  height: 75vh;
  background-color: #D0EBFF;
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
}

#container-css .text-initial a::after {
  background-color: #264DE4;
}

/*----------------------------------------------------------------*/
#container-javascript::before {
  content: "";
  width: 100vw;
  height: 75vh;
  background-color: #FFF4E6;
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
}

#container-javascript .text-initial a::after {
  background-color: #E4A126;
}

/*----------------------------------------------------------------*/
#container-html h1, #container-css h1, #container-javascript h1 {
  letter-spacing: 0.3rem;
}

#container-html img, #container-css img, #container-javascript img {
  margin-left: 2rem;
}

/*----------------------------------------------------------------*/
@media (min-width: 0) {
  .menu #menu-mobile {
    cursor: pointer;
  }
  .menu ul {
    display: none;
  }
  .wrapper {
    width: 20rem;
  }
  .flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-initial h1 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: .5rem;
  }
  .text-initial h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .text-initial p {
    font-size: .8rem;
    font-weight: 500;
    max-width: 570px;
    margin-bottom: .6rem;
  }
  .text-initial a {
    font-size: .8rem;
    margin-bottom: .6rem;
  }
  .text-initial a::after {
    width: 63px;
  }
  .text-initial .list-text-initial {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  #container-initial img, #container-html img, #container-css img, #container-javascript img {
    width: 80%;
    height: 50%;
  }
}

@media (min-width: 0) and (orientation: landscape) {
  .text-initial .list-text-initial {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  #logo {
    width: 80px;
    height: 80px;
  }
  .menu #menu-mobile {
    display: none;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper {
    width: 35rem;
  }
  .flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-initial h1 {
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }
  .text-initial h3 {
    font-size: 1rem;
  }
  .text-initial p {
    font-size: .9rem;
    max-width: 550px;
    margin-bottom: 3.2rem;
  }
  .text-initial .list-text-initial {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  #container-initial img, #container-html img, #container-css img, #container-javascript img {
    width: 60%;
    height: 40%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper {
    width: 35rem;
  }
}

@media (min-width: 800px) {
  #logo {
    width: 90px;
    height: 90px;
  }
  .menu #menu-mobile {
    display: none;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper {
    width: 49rem;
  }
  .flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-initial h1 {
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }
  .text-initial h3 {
    font-size: 1.1rem;
  }
  .text-initial p {
    font-size: 1rem;
    max-width: 550px;
    margin-bottom: 3.2rem;
  }
  .text-initial .list-text-initial {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  #container-initial img, #container-html img, #container-css img, #container-javascript img {
    width: 45%;
    height: 40%;
    margin-left: 1.5rem;
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-initial h1 {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
  .text-initial h3 {
    font-size: 1.4rem;
  }
  .text-initial p {
    font-size: 1.2rem;
    max-width: 700px;
    margin-bottom: 3.2rem;
  }
  .text-initial a {
    font-size: 1.1rem;
  }
  .text-initial a::after {
    width: 85px;
  }
  .text-initial .list-text-initial {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  #logo {
    width: 100px;
    height: 100px;
  }
  .menu #menu-mobile {
    display: none;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper {
    width: 63rem;
  }
  .flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-initial h1 {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }
  .text-initial h3 {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .text-initial p {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 3.2rem;
  }
  .text-initial a {
    font-size: 1.1rem;
  }
  .text-initial a::after {
    width: 85px;
  }
  .text-initial .list-text-initial {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  #container-initial img, #container-html img, #container-css img, #container-javascript img {
    width: 70%;
    height: 50%;
  }
}

@media (min-width: 1200px) {
  .menu #menu-mobile {
    display: none;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper {
    width: 74rem;
  }
  .flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-initial h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .text-initial h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .text-initial p {
    font-size: 1.25rem;
    max-width: 750px;
    margin-bottom: 3.2rem;
  }
  .text-initial a {
    font-size: 1.2rem;
  }
  .text-initial a::after {
    width: 95px;
  }
  .text-initial .list-text-initial {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  #container-initial img, #container-html img, #container-css img, #container-javascript img {
    width: 75%;
    height: 55%;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 85rem;
  }
}
/*# sourceMappingURL=global.css.map */