:root{
  -background: #f2f3f5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  background: var(--background);
  font: 400 1rem 'Roboto', sans-serif;
  text-align: center;

  overflow: overlay;
}

a{
  text-decoration: none;
}

.container, .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

/****HEADER****/
.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .logo img {
  max-width: 50%;
}

.menu ul{
  display: flex;
  list-style: none;
}

.menu ul li+li {
  margin-left: 1rem;

}

.menu ul li a{
  color: #111;
}

/****Inicio****/

.container-initial {
  
}